@font-face {
  font-family: Biko;
  font-style: normal;
  font-weight: normal;
  src: local("Biko"), url("assets/fonts/Biko_Regular.otf") format("opentype");
}

@font-face {
  font-family: Biko;
  font-style: normal;
  font-weight: bold;
  src: local("Biko"), url("assets/fonts/Biko_Bold.otf") format("opentype");
}

@font-face {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeue"), url("assets/fonts/HelveticaNeue.ttf") format("opentype");
}

@font-face {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: bold;
  src: local("HelveticaNeue"), url("assets/fonts/HelveticaNeueBold.ttf") format("opentype");
}

:root {
  --main-color: rgb(235, 236, 230);
	--header-color: rgb(19, 23, 22);
  --footer-color: var(--header-color);
	--green-lighter: rgb(105, 198, 191);
	--green-medium: rgb(43, 155, 148);
	--green-darker: rgb(26, 74, 71);
  --font-color-lighter: var(--green-lighter);
  --font-color-darker: var(--green-darker);
}
/* Zerando os parametros do browser */
  /* Zerando todos os parâmetros */
    * {
      margin: 0; padding: 0;
      text-transform: none;
      text-decoration: none;
      box-sizing: border-box;
      font-family: sans-serif;
      font-weight: normal;
      border: none; outline: none;
      transition: none; transition-delay: 0s;
    }
  /* Fim */
  /* Definindo fontes para usar REM e o SnapIn no eixo Y */
    html {
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-behavior: smooth;
      scroll-snap-type: y proximity;
    }
  /* Fim */
  /* Ocultando as barras de rolagem */
    html::-webkit-scrollbar {
      display: none;
    }
  /* Fim */
/* Fim */

body {
  font-family: 'Biko', sans-serif;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

html {
  height: 100%;
}

.bg {
  /* Carregando a imagem de fundo */
  background-image: url("../assets/images/bg.jpg");

  /* página cheia */
  height: 100%;

  /* Centralizar escalando a imagem perfeitamente */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  

  /* Centraliza os itens da página */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: min(70vw, 171px);   /* Máximo da largura da imagem */
  height: min(70vw, 171px);  /* Máximo da altura da imagem */
  background-image: url("../assets/images/logo-redondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--header-color);
  border-radius: 50%;
  -moz-border-radius: 50%;
  box-shadow: 3px 3px 6px var(--header-color); 
  margin: 15px 0; /* Padding superior e inferior de 15px. Padding esquerda e direita de 0 */ 
}

.box-central {
  margin: 5px 0; /* Padding superior e inferior de 15px. Padding esquerda e direita de 0 */ 
  padding: 15px 30px; /* Padding superior e inferior de 15px. Padding esquerda e direita de 30px */
  max-width: 550px;
  max-height: 600px;
  background: var(--main-color);
  border: 1px solid var(--header-color);
  border-radius: 15px;
  -moz-border-radius: 15px;
  box-shadow: 3px 3px 6px var(--header-color); 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'HelveticaNeue', sans-serif;
  color: var(--font-color-darker);
  font-size: 1.6rem;
}

.box-central p {
  padding: 0px;
  margin: 0px;
}

.box-central .text-bold {
  font-weight: bold;
}

.buttons {
  padding: 5px 10px; /* Padding superior e inferior de 5px. Padding esquerda e direita de 10px */
  margin: 0px 5px;
  max-width: 550px;
  max-height: 150px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: 'HelveticaNeue', sans-serif;
  color: var(--main-color);
  font-size: 1.6rem;
}

.button {
  margin: 0px 5px 10px 5px; /* top | right | bottom | left */
  padding: 10px 30px; /* top - bottom | left - right */
  width: 300px;
  background: var(--green-darker);
  border: 1px solid var(--header-color);
  border-radius: 15px;
  -moz-border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 6px var(--header-color); 
}

.button:hover { 
  box-shadow: 10px 10px 20px var(--header-color); 
} 

a:link, a:visited, a:hover, a:active {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 450px) {
  .buttons {
    flex-direction: column;
  }
  .button {
    margin: 5px 0px;
  }
}

.cabecalho {
  background: var(--header-color);
  color: var(--font-color-lighter);
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  max-width: 1200px;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.head img {
  -webkit-filter: drop-shadow(3px 3px 5px rgb(43, 155, 148, 0.4));
  filter: drop-shadow(3px 3px 5px rgb(43, 155, 148, 0.4));
}

.head span {
  font-size: 7rem;
  text-shadow: 3px 3px 5px rgb(43, 155, 148, 0.4);
}

.conteudo {
  background: var(--main-color);
  color: var(--font-color-darker);
  font-size: 1.8rem;
  height: 100%;
}

.rodape {
  background: var(--footer-color);
  color: var(--font-color-lighter);
  font-size: 1.6rem;
}
